.addContentType{
    border: 3px dotted rgb(100,83,209);
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 283px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.addContentType>*{
    color:rgb(80,31,198);
    font-weight:500
}
.contents{
    /* justify-content: space-between; */
    border: 3px dotted white;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 283px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.contents>*{
    color: rgb(144,144,144);
}

.addTextField{
    border: 3px dotted rgb(100,83,209);
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 44vw;
    align-items: center;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.addTextField>*{
    color:rgb(80,31,198);
    font-weight:500
}