.home-page-container{
    display: flex;
}
.home-page-contents{
    display: flex;
    flex-direction: column;
}
.content-types-fields{
    display: flex;
}
.content-types{
    height: 89vh;
    width: 310px;
    background-color: rgb(212,214,228);
    padding: 30px;
}
.content-fields{
    height: 89vh;
    width: 53.5vw;
    background-color: rgb(235,238,252);
}
.content-fields{
    margin: 0;
    padding-left: 30px;
}
.content-info>h1{
    color:rgb(79,79,79)!important;
}
.content-info{
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin: 0px;
}
.edit-img{
    height: 20px;
    width: 20px;
}